.list-group{
    border-radius: 0
}

.list-group-item{
    cursor: pointer;
}

.tablePoiner{
    cursor: pointer;
}
.modal_progress .MuiCircularProgress-root{
    width: 70px !important;
    height: 70px !important;
}
.modal_progress{
    display: flex;
    align-items: center;
    justify-content: center;
}